---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import { SITE_TITLE } from "../config";
import License from "../components/License.astro";
---

<PageLayout>
  <PageMeta title={`Links | ${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
    <ul class="links list-disc list-outside">
      <li>
        <a href="/public-domain/Cannabis-Accessories-and-Law-v1.pdf" target="_blank">Cannabis Accessories & Law</a>
      </li>
      <li>
        <a href="/public-domain/MCANZ-Pharmacy-Products.pdf" target="_blank">Dispensing Medical Cannabis Products in Aotearoa New Zealand - August 2023</a>
      </li>
      <li>
        <a href="/public-domain/SPL_Letter_2.pdf" target="_blank">Letter from Ministry of Health Regarding Non-Approved Dry Herb Vaporisers and Accessories</a>
      </li>
      <li>
        <a href="/public-domain/SPL_Letter_1.pdf" target="_blank">Letter from Ministry of Health Regarding Third Party Accessories for Dry Herb Vaporisers</a>
      </li>
      <li>
        <a href="/public-domain/Cannabinoid-Boil-Chart-31-05-23.pdf" target="_blank">Cannabinoid Boil Chart</a>
      </li>
      <li>
        <a href="/public-domain/Medical-Device-with-Utensil-310523.pdf" target="_blank">Use of Approved Medical Cannabis Vapourisers with glassware/utensils</a>
      </li>
    </ul>
    <License />
  </Fragment>
</PageLayout>

<style>

  ul.links {
    margin: 0 0;
    padding: 0 0;
  }

  ul.links li {
     margin: 0 0;
     padding: 0.25em 0;
  }
</style>
