---
import PageMeta from "../components/PageMeta.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Intro from "../components/Intro.astro";
import { SITE_TITLE } from "../config";
import License from "../components/License.astro";
---

<PageLayout>
  <PageMeta title={`Links | ${SITE_TITLE}`} slot="meta" />
  <Fragment slot="main">
    <ul class="links list-disc list-outside">
      <li>
        <a href="/public-domain/Medical-Device-with-Utensil-310523.pdf" target="_blank">Use of Approved Medical Cannabis Vapourisers with glassware/utensils</a>
      </li>
      
      <li>
        <a href="/public-domain/Cannabinoid-Boil-Chart-31-05-23.pdf" target="_blank">Cannabinoid Boil Chart</a>
      </li>            
    </ul>
    <License />
  </Fragment>
</PageLayout>

<style>

  ul.links {
    margin: 0 0;
    padding: 0 0;
  }

  ul.links li {
     margin: 0 0;
     padding: 0.25em 0;
  }
</style>
