---
import Heading from "./ui/Heading.astro";
---

<section class="wrapper">
  <Heading
    as="h1"
    class="name gradient-text gradient-color outline-header outline-header-color"
  >
    Medical Cannabis Aotearoa New Zealand
  </Heading>
</section>

<style>
  .wrapper {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
  }

  .outline-header {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.075rem var(--outline-color);
  }

  .gradient-color {
    --gradient-text-from: rgb(115, 255, 192);
    --gradient-text-via: rgb(85, 189, 230);
    --gradient-text-to: rgb(65, 250, 194);
  }

  .outline-header-color {
    --outline-color: var(--text-heading);
  }

  @media (prefers-color-scheme: dark) {
    .gradient-color {
        --gradient-text-from: rgb(115, 255, 192);
        --gradient-text-via: rgb(85, 189, 230);
        --gradient-text-to: rgb(65, 250, 194);
    }
    .outline-header-color {
      --outline-color: transparent;
    }
  }

  .name {
    font-size: 3rem;
    margin: 0;
    letter-spacing: -2px;
    line-height: 3.5rem;
  }

  .subtext {
    color: var(--text-heading);
    font-size: 1.25rem;
    letter-spacing: -0.51px;
    line-height: 2rem;
    margin-top: 0.5rem;
  }

  .cli-command {
    text-align: center;
    white-space: nowrap;
    overflow: auto;
  }

  @media (min-width: 640px) {
    .name {
      font-size: 4rem;
      line-height: 4.75rem;
    }
    .subtext {
      font-size: 1.5rem;
      letter-spacing: -0.51px;
      line-height: 2rem;
      margin-top: 0.5rem;
    }
  }
</style>
