---
const {
  license
} = Astro.props;
---

<p xmlns:dct="http://purl.org/dc/terms/" class="mt-10">
    <a rel="license" href="https://creativecommons.org/publicdomain/mark/1.0/">
    <img src="https://i.creativecommons.org/p/mark/1.0/88x31.png"
         style="border-style: none;" alt="Public Domain Mark" />
    </a>
    <br />
    This work is free of known copyright restrictions and is licensed as <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0)</a>
</p>

