---
import License from "../components/License.astro";

---

<h1 class="text-4xl text-bold">Price Guide</h1>
<br />
<br />
<p>
    Please contact your pharmacy or clinic for pricing information<br />
    <br />
    More details on how to navigate pricing will be coming soon.
    <br />
    <br />
    <a href="/reddit/guide">Please visit the guide for more broad information</a>
</p>
<License />