---
import License from "../components/License.astro";

---

<h1 class="text-4xl text-bold">Price Guide</h1><br/>
<h2 class="text-3xl text-bold">Table of Contents</h2><br/>
<p>Use the following links to navigate pricing information</p>
<ul class="list-disc">
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0">Flower prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=2004382614">CBD oil (full spectrum) prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=372267100">CBD oil (isolate & synthetic) prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=1023156522">CBD:THC oil prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=406283344">THC oil prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=973787605">Edibles</a></li>
</ul>

<br />
<h2 class="text-2xl text-bold">At a glance</h2>
<br />
<h3 class="text-xl text-bold">Flower</h3>
<br />
<table>
<tbody>
<tr>
    <th>Cheapest THC dominant per gram:</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A27:AA27">Shishkaberry</a></td>
</tr>
<tr>
    <th>Cheapest CBD dominant per gram:</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A32:AA32">Eve from Pilldrop</a></td>
</tr>
</tbody>
</table>
<br />
<h3 class="text-xl text-bold">Oils</h3>
<br />
<table>
<tbody>
<tr>
    <th>Cheapest CBD full spectrum per ml:</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=2004382614&range=A19:O19">Florx from Cannabis Clinic</a> or <a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=2004382614&range=A22:O22">Medleaf CBD 100</a></td>
</tr>
<tr>
    <th>Cheapest CDB isolate per ml:</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=372267100&range=A19:O19">Green Standard CBD 200</a></td>
</tr>
<tr>
    <th>Cheapest CBD:THC per ml:</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=1023156522&range=A10:O10">evalaCann Balanced</a></td>
</tr>
<tr>
    <th>Cheapest THC per ml:</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=406283344&range=A11:O11">Helius THC25</a></td>
</tr>
</tbody>
</table>
<br />
<hr />
<br />
<h3 class="text-xl text-bold">Price corrections</h3>
<br />
<a href="https://forms.gle/SHGQNne8SFJXuvxT7" target="_blank">Please use this form to submit a price update</a>
<br />
<br />
<h3 class="text-xl text-bold">References:</h3>
<br />
<ul class="list-disc">
    <li><a  target="_blank" href="https://docs.google.com/document/d/1Ecati2vzbBG8VKKBg0TH9AGj6TCOCcgeMC0oEoALxx4/">Wellworks price sheet link</a></li>
    <li>Cannabis Clinic Dispensary</li>
    <li>Pilldrop price sheet (emailed)</li>
    <li>Community reports</li>
</ul>
<License />