---
import License from "../components/License.astro";

---

<h1 class="text-4xl text-bold">Pricing Guide</h1>
<br />
<br />
<p>
    <a href="https://www.tewhatuora.govt.nz/assets/Our-health-system/Digital-health/eMedicines-and-the-New-Zealand-e-Prescription-Service/letter-on-patient-choice-of-pharmacy-jun20.pdf">Be aware of patient choice of pharmacy, assert your rights, take personal action on this front.</a>
</p>
<p>
    <br />
    <br />
    The strength of our impact comes from sharing our experiences.
</p>
<p>
    <br />
    <br />
    <a href="/reddit/guide">Please visit the guide for more broad information</a>
</p>
<License />