---
import License from "../components/License.astro";

---

<h1 class="text-4xl text-bold">Price Guide</h1><br/>
<p>
    The prices listed in these links may not be completely up to date nor do they include specials or clearance prices. They are provided as a convenience. <strong>Please double check prices before you buy!</strong><br/><br/>
    Other pharmacies not listed can also stock these products. Call your local pharmacies to check stock and prices. Please use the form at the end of this page to submit a new price if you find a product price has changed.
    </p><br/>
<h2 class="text-3xl text-bold">Table of Contents</h2><br/>
<p>Use the following links to navigate pricing information</p>
<ul class="list-disc">
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0">Flower prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=2004382614">CBD oil (full spectrum) prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=372267100">CBD oil (isolate & synthetic) prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=1023156522">CBD:THC oil prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=406283344">THC oil prices</a></li>
    <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=973787605">Edibles</a></li>
</ul>

<br />
<h2 class="text-2xl text-bold">At a glance</h2>
<br />
<h3 class="text-xl text-bold" id="flower">Flower - Median cost per gram</h3>
<br />
<p>
If you list all the available prices from lowest to highest, the median price is the one that falls right in the center of this list. It's a helpful figure because it gives you a realistic sense of what you might expect to pay, not too influenced by unusually high or low prices.
</p>
<br />
<p>
All products in this list meet the <a href="https://www.health.govt.nz/our-work/regulation-health-and-disability-system/medicinal-cannabis-agency/medicinal-cannabis-agency-information-health-professionals/medicinal-cannabis-products-meet-minimum-quality-standard">minimum quality standard.</a>
</p>
<br />
<table>
<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Origin</th>
<th>Per Gram</th>
</tr>
</thead>
<tbody>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47751211000116105&table=TP">KIKUYA Arroyo</a></td><td>THC</td><td>		Australia	</td><td> <a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">$13.65</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47706771000116107&table=TP">KIKUYA Dune	</a></td><td>THC</td><td>	Australia	 </td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$13.58</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=48062911000116106&table=TP">KIKUYA Peak	</a></td><td>THC</td><td>	New Zealand </td><td>	<a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">$13.50</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47659481000116105&table=TP">ANTG Rocky</a>	</td><td>THC</td><td>	Australia	 </td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$14.00</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47706281000116101&table=TP">ANTG Solace</a>	</td><td>THC</td><td>	Australia	 </td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$17.80</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47659451000116101&table=TP">ANTG Mariposa</a>	</td><td>THC</td><td>	Australia</td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42"> $17.60</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47834991000116107&table=TP">Tilray Whole Flower	</a></td><td>THC</td><td>	Portugal</td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42"> 	$13.67</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47755121000116106&table=TP">Medleaf Shishkaberry</a>	</td><td>THC</td><td>	Canada</td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	 	$11.87</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=48043761000116105&table=TP">Medleaf GG#4</a>	</td><td>THC</td><td>	Canada</td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	 	$14.17</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47858441000116104&table=TP">Medleaf Zour Apple</a>	</td><td>THC</td><td>	Canada </td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$14.13</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=48133821000116104&table=TP">Medleaf LL Kush</a>	</td><td>THC</td><td>	Canada</td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	 	$14.13</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=48164141000116108&table=TP">Helius DK Dusk</a> 	</td><td>THC</td><td>	Denmark	 </td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$12.90</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=48172931000116102&table=TP">Cannasouth Symetis T17 B52</a>	</td><td>THC</td><td>	New Zealand</td><td> <a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$12.50</a> </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=48172731000116100&table=TP">Cannasouth Cumulus</a>	</td><td>THC</td><td>	New Zealand	</td><td> <a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$11.85	</a>	 </td></tr>
<tr><td><a href="https://search.nzulm.org.nz/search/product?id=47622911000116102&table=TP">ANTG Eve</a>	</td><td>CBD</td><td>	Australia</td><td><a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=0&range=A26:G42">	$19.95 </a></td></tr>
</tbody>
</table>
<br />
<h3 class="text-xl text-bold" id="oil">Oils</h3>
<p>Cheapest per ml</p>
<br />
<table>
<tbody>
<tr>
    <th>CBD full spectrum</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=2004382614&range=A20:O20">Helius CBD100</a> or <a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=2004382614&range=A22:O22">Medleaf CBD 100</a></td>
</tr>
<tr>
    <th>CDB isolate</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=372267100&range=A19:O19">Green Standard CBD 200</a> or <a href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=372267100&range=A30:O30">Eqalis CBD120 Isolate</a></td>
</tr>
<tr>
    <th>CBD:THC</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=1023156522&range=A10:O10">evalaCann Balanced</a></td>
</tr>
<tr>
    <th>THC</th>				<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=406283344&range=A11:O11">Helius THC25</a> or <a target="_blank" href="https://docs.google.com/spreadsheets/d/1rXMYOe_Yz1h7sct5DZfPC4cHH8h8IQsej_zSuXWYMMM/edit#gid=406283344&range=A12:O12">Tilray THC25</a></td>
</tr>
</tbody>
</table>
<br />
<hr />
<br />
<h3 class="text-xl text-bold" id="corrections">Price corrections</h3>
<br />
<a href="https://forms.gle/SHGQNne8SFJXuvxT7" target="_blank">Please use this form to submit a price update</a>
<br />
<br />
<h3 class="text-xl text-bold" id="references">References:</h3>
<br />
<ul class="list-disc">
    <li><a  target="_blank" href="https://docs.google.com/document/d/1Ecati2vzbBG8VKKBg0TH9AGj6TCOCcgeMC0oEoALxx4/">Wellworks price sheet link</a></li>
    <li>Cannabis Clinic Patient Only Dispensary</li>
    <li>Pilldrop Price Patient Only Sheet</li>
    <li>Chemist Warehouse Patient Only Price Sheet</li>
    <li>Community Reports</li>
</ul>
<br />
<p id="disclaimer">
    Please note that prices listed on this page are based on statistics only, and are not meant to reflect a quote or cost you will receive at any specific pharmacy.<br />
    <br />
    Where product type is mentioned, it may only be in reference to the main cannabinoid contained in the product, the product may contain other cannabinoids, and also may have different terpene profiles etc.<br />
    <br />
    Please request official information from your doctor and pharmacy if required.<br />
    <br />
    <strong>Pricing does not indicate therapeutic effect.</strong>
    <br />
    <strong>Inclusion on this page is in no way indicative of the medicines availability, nor is it intended as an advertisement.</strong>
</p>
<License />